
<p>
Those interested in working with Sabras Software LLC will find an environment 
in which the focus is on delivering a reliable and sustainable software project product to our customers. 
Our primary technology focus is on green field software development projects in progressive technologies. 
Employees will find coworkers with a high degree of expertise, professionalism, &amp; complimentary skill sets. 
</p>

<p>
We are currently not interested in hiring relationship managers, personnel managers, or those without a technical background.
We are and plan to remain a small, technically focused organization.
This focus on technology allows our communication to flow readily and collaboratively. 
</p>

<p>
Technology and people are only part of the equation. 
Sustainable and reliable software is the result when those factors are joined with business need.
</p>