
<p>
Sabras Software LLC is the legal entity under which a small group of professional software engineers
provide solutions for their trusted clients on a full, part-time and per-project basis. 
It was established toward the end of 2008. 
<p>

<p>
We have extensive experience developing and maintaining applications for large, fortune 500 companies;
as well as many reputable small to medium businesses.
</p>

<p>
Sabras Software LLC is uniquely skilled to successfully deliver on the needs of it's clients!
</p>

