
<h1>Services</h1>
<div class="section">

	<h2>Bespoke Software Development</h2>
	<div class="subsection">
	<p>
	We will work with you to design & develop, from the ground up, custom software to fit your specific needs; 
	&amp; built to the same level of quality we insist on for our own products. 
	As part of this offering we will assist you with all aspects of the product delivery, including project management,
	branding, and QA. Client confidentiality is always respected.
	We bring our decades worth of combined experience & commitment to quality to work for you!
	Currently, we offer development on any combination of the following platforms: Java/JVM, Ruby/RoR, .NET, web applications, & mobile.
	</p>
	</div>
</div>
<br />
<br />

<h1>Products & Solutions</h1>
<div class="section">

	<h2>PrintOut Master</h2>
	<div class="subsection">
	<p>
		PrintOut Master is a Java-based software framework for setting up enterprise grade document generation; 
		focusing on PDF & Postscript output.
	</p>
	<p>
		PrintOut Master will be released by end of year 2015.
	</p>
	</div>

	<h2>Yojimbomb</h2>
	<div class="subsection">
	<p>
		Yojimbomb is a general purposes metrics capture/persistence framework. 
		It is non-domain specific and is designed to handle a wide variety of metrics.
		It is especially suitable for setting up centralized reporting of metrics in a distributed system. 
	</p>
	<p>
		Yojimbomb will be released by end of year 2015.
	</p>
	</div>

</div>
<br />
<br />

<h1>Open Source</h1>
<div class="section">

	<h2>Coll8: Java-8 compatible enhanced collections</h2>
	<div class="subsection">
	<p>
		Coll8 is an in-development library for Java 8+ which provides a number of general purpose helper/utility classes;
		as well as advanced/enhanced data structure & collection types. 
		It is very similar in concept to better known frameworks such as Google Guava or Apache Commons Collections.
		However, unlike Guava or Commons Collections, Coll8 is fully API compatible with Java version 8+
	</p>
	<p>
		Coll8 is still in active development; the initial release version should be ready by end of 2015.
		You can take a look at the un-finalized development work at <a href="https://github.com/mwbuda/sabras-coll8">github</a> 
	</p>
	</div>

	<h2>SwapDMI: Lightweight, Customizable Data Modeling Interface for Ruby</h2>
	<div class="subsection">
	<p>
		SwapDMI is a very lightweight, general purpose data layer interface library for Ruby.
		It is intended to be a simple, straightforward framework to help build your own custom data integration code.
		It was originally developed for use with Ruby on Rails in cases where ActiveRecord was not a suitable choice for integrating with a remote data source;
		specifically RESTful web services which didn't fully follow pure/HATEOAS conventions. 
		SwapDMI's name comes from it's ability to 'swap-out' multiple implementations of remote data source integration code; 
		developers can use this feature to, for example, mock out a remote web service prior to that remote service being available. 
	</p>
	<p>
		SwapDMI is in active development, but we have several stable releases available at <a href="https://github.com/mwbuda/sabras-swapdmi">github</a>
	</p>
	</div>

</div>
<br />
<br />


